<?xml version='1.0' encoding='utf-8'?>
<widget
  xmlns       = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id          = "com.imall"
  version     = "17.11.29"
  versionCode = "171129"
>
  <name>imall.com</name>
  <author
    href="http://imall.com"
    email="info@imall.com">iMall.com??
  </author>
  <description>imall.com</description>
  <preference name="phonegap-version" value="cli-7.0.1"/>
  <preference name="fullscreen" value="true"/>
  <preference name="permissions" value="none"/>

  <icon src="www/icon.png"/>

  <platform name="android">
    <splash src="Logo.png"/>
  </platform>

  <!--platform name="ios">
    <preference name="target-device" value="universal"/>
    <preference name="detect-data-types" value="false"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <icon   src="www/icon-60@3x.png"                width="180"  height="180"/>
    <icon   src="www/icon-60.png"                   width="60"   height="60"/>
    <icon   src="www/icon-60@2x.png"                width="120"  height="120"/>
    <icon   src="www/icon-76.png"                   width="76"   height="76"/>
    <icon   src="www/icon-76@2x.png"                width="152"  height="152"/>
    <icon   src="www/icon-small.png"                width="29"   height="29"/>
    <icon   src="www/icon-small@2x.png"             width="58"   height="58"/>
    <icon   src="www/icon-40.png"                   width="40"   height="40"/>
    <icon   src="www/icon-40@2x.png"                width="80"   height="80"/>
    <icon   src="www/icon-.png"                     width="57"   height="57"/>
    <icon   src="www/icon@2x.png"                   width="114"  height="114"/>
    <icon   src="www/icon-72.png"                   width="72"   height="72"/>
    <icon   src="www/icon-72@2x.png"                width="144"  height="144"/>
    <icon   src="www/icon-50.png"                   width="50"   height="50"/>
    <icon   src="www/icon-50@2x.png"                width="100"  height="100"/>

    <splash src="www/Default.png"                   width="320"  height="480"/>
    <splash src="www/Default@2x.png"                width="640"  height="960"/>
    <splash src="www/Default-568h@2x.png"           width="640"  height="1136"/>
    <splash src="www/Default-667h@2x.png"           width="750"  height="1334"/>
    <splash src="www/Default-Portrait-736h@3x.png"  width="1242" height="2208"/>
    <splash src="www/Default-Landscape-736h@3x.png" width="2208" height="1242"/>
    <splash src="www/Default-Portrait.png"          width="768"  height="1024"/>
    <splash src="www/Default-Landscape.png"         width="1024" height="768"/>
    <splash src="www/Default-Portrait@2x.png"       width="1536" height="2048"/>
    <splash src="www/Default-Landscape@2x.png"      width="2048" height="1536"/>
  </platform>
  <config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
  </config-file>
  <config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
  </config-file-->

  <!--platform name="winphone">
    <splash src="logo768x1024.jpg"/>
  </platform>
  <preference name="windows-appx-target" value="8.1-phone"/>
  <preference name="windows-arch" value="anycpu"/>
  <preference name="windows-identity-name" value=""/>
  <config-file platform="winphone" parent="/Deployment" mode="replace">
    <Languages xmlns="">
      <Language code="en-US"/>

      <Language code="uk-UA"/>

      <Language code="ru-RU"/>

    </Languages>
    <DefaultLanguage xmlns="" code="en-US"/>
  </config-file-->

  <!--plugin name="cordova-plugin-file" spec="4.3.0"/-->
  <!--plugin name="cordova-plugin-x-socialsharing" spec="5.1.3"/-->
  <plugin name="cordova-plugin-globalization" spec="1.0.6"/>
  <plugin name="cordova-plugin-inappbrowser" spec="1.7.0"/>
  <plugin name="cordova-plugin-whitelist" spec="1.3.2"/>
  <plugin name="cordova-plugin-statusbar" spec="2.2.2"/>
  <plugin name="cordova-plugin-exitapp" spec="1.0.0"/>
  <plugin name="phonegap-plugin-push" spec="1.10.1" platform="android,ios">
    <param name="SENDER_ID" value="588000337805"/>
  </plugin>

  <access origin="*" launch-external="yes"/>
</widget>
